.container {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.accessForm {
  display: flex;
  gap: 2rem;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  background-color: var(--bg-secondary-color);
  box-shadow: rgb(0, 0, 0) 0px 22px 70px 4px;
  border-radius: 0.9rem;
  overflow: hidden;
  padding: 0 8rem;
  height: 35vh;
  width: 20vw;
}

.imageWrapper {
  display: grid;
  width: 20rem;
}

.input {
  border: none;
  padding: 0.5rem;
  border-radius: 0.3rem;
  background-color: var(--bg-primary-color);
}

.btn {
  background-color: var(--bg-secondary-color);
  border: solid 2px #cfcece;
  color: #cfcece;
  padding: 0.5rem 0;
  width: 10rem;
  border-radius: 0.5rem;
}

.noshow {
  display: none;
}

.err {
  color: red;
}
